flask
flask-restful
Flask-Testing
Flask-Script
Flask-Migrate
docker-py
jinja2
Celery
mock
python-dateutil
nose
boto3
httpretty
coveralls
consulate==0.6.0
psycopg2==2.6.1
redis==2.10.3
httmock==1.2.3
pytest==2.8.2
requests==2.7.0
PyYAML==3.10
gunicorn==19.3.0
