psql {{ psql_args }} -c "CREATE DATABASE {{ database }};";
psql {{ psql_args }} -c "CREATE USER {{ user }};";
psql {{ psql_args }} -c "ALTER DATABASE {{ database }} OWNER TO {{ user }};";

psql {{ psql_args }} < {{ database }}/{{ database  }}.schema.sql;
if [ -e {{ database }}/{{ database }}.data.sql ]; then
    psql {{ psql_args }} -c "COPY t FROM STDIN" < {{ database }}/{{ database }}.data.sql;
fi;
