{
  "family": "{{ family }}",
  {% block volumes %}
  "volumes": [
    {
        "name": "tmp",
        "host": {
            "sourcePath": "/tmp"
        }
    }
  ],
  {% endblock %}
  "containerDefinitions":
    {% block containers %}
    {% endblock %}
}
